flows.json
[
    {
        "id": "b4bdd1c87493fd6a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5b2a7d4543bf2c21",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "51f797219447b389",
        "type": "tab",
        "label": "Smart Waste Management System",
        "disabled": false,
        "info": ""
    },
    {
        "id": "30e82596e479f938",
        "type": "twilio-api",
        "name": "twilio",
        "sid": "ACfbb4858c5715f8b36dfeeb0ea3cc9ef0",
        "from": "+15094781941"
    },
    {
        "id": "703626dfe831eec9",
        "type": "twilio-api",
        "name": "twilio2",
        "sid": "ACfbb4858c5715f8b36dfeeb0ea3cc9ef0",
        "from": "+15094781941",
        "info": "bin is ok"
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "Smart Waste System",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "name": "Waste Management",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "7f244dd79550a2e0",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c9c7736d74c71ae4",
        "type": "twilio-api",
        "name": "",
        "sid": "",
        "from": ""
    },
    {
        "id": "989eb924b2f57f60",
        "type": "ui_text_input",
        "z": "51f797219447b389",
        "name": "Bin Level Input",
        "label": "Enter Bin Level (%)",
        "group": "dashboard_group",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "d80a8dcb4a1a9d68"
            ]
        ]
    },
    {
        "id": "d80a8dcb4a1a9d68",
        "type": "function",
        "z": "51f797219447b389",
        "name": "Validate Input",
        "func": "let input = parseInt(msg.payload);\nif (isNaN(input) || input < 0 || input > 100) {\n    msg.payload = \"Invalid input. Please enter a number between 0 and 100.\";\n    msg.valid = false;\n} else {\n    msg.valid = true;\n    msg.payload = input;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 120,
        "wires": [
            [
                "a30b88f880ab03e7",
                "891448e6e67ef8b5",
                "3469af28654edbad",
                "9e7d8b59b63f297e"
            ]
        ]
    },
    {
        "id": "a30b88f880ab03e7",
        "type": "switch",
        "z": "51f797219447b389",
        "name": "Check Threshold",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "75",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "75",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 120,
        "wires": [
            [
                "813b21b3780048d4"
            ],
            [
                "a1d8f63127e43693"
            ]
        ]
    },
    {
        "id": "813b21b3780048d4",
        "type": "twilio out",
        "z": "51f797219447b389",
        "twilio": "30e82596e479f938",
        "twilioType": "sms",
        "url": "",
        "number": "+919994998582",
        "name": "Bin Full SMS",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "a1d8f63127e43693",
        "type": "twilio out",
        "z": "51f797219447b389",
        "twilio": "703626dfe831eec9",
        "twilioType": "sms",
        "url": "",
        "number": "+919994998582",
        "name": "Bin OK SMS",
        "x": 790,
        "y": 200,
        "wires": []
    },
    {
        "id": "891448e6e67ef8b5",
        "type": "ui_gauge",
        "z": "51f797219447b389",
        "name": "Bin Level Gauge",
        "group": "dashboard_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Bin Level",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "3469af28654edbad",
        "type": "ui_chart",
        "z": "51f797219447b389",
        "name": "Bin Level Chart",
        "group": "dashboard_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Bin Level Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 630,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "9e7d8b59b63f297e",
        "type": "debug",
        "z": "51f797219447b389",
        "name": "Show Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "691fe2e9978d0131",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-twilio": "0.1.0",
            "node-red-dashboard": "3.6.5"
        }
    }
]